{% extends 'base.html.twig' %}

{% block bodyClass %}login page{% endblock %}

{% block body %}
    <main>
        <div class="logo">
            <img src="{{ asset('/static/media/logo.png') }}" alt="Escape Game">
        </div>
        <h1>{{ 'app.form.login.title'|trans }}</h1>
        {% if error %}
            <div class="alert danger">{{ error|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('erp.security.login') }}" method="POST" class="login-form">
            <div>
                <label>
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span class="input">
                        <input type="text" name="username" value="{{ lastUsername }}" aria-label="{{ 'app.form.login.username'|trans }}">
                    </span>
                </label>

                <label>
                    <span class="icon"><i class="fa fa-lock"></i></span>
                    <span class="input">
                        <input type="password" name="password" aria-label="{{ 'app.form.login.password'|trans }}">
                    </span>
                </label>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button>{{ 'app.form.login.submit'|trans }}</button>
            </div>
        </form>
    </main>
{% endblock %}