{% extends "base.html.twig" %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Last name</th>
                <th>First name</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.title }}</td>
                    <td>{{ customer.lastname }}</td>
                    <td>{{ customer.firstname }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}