
@use "variables" as var;

@use "fragments/login";
@use "fragments/table";
@use "fragments/header";
@use "fragments/aside";
@use "fragments/dashboard";

/** Forms */
@use "fragments/form/form";
@use "fragments/form/checkbox";
@use "fragments/form/collection";
/** Modals */
@use "fragments/modal";

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

button,
.button,
a.button:link,
a.button:visited,
a.button:active,
a.button:focus {
  border: 1px solid nth(var.$palette, 3);
  background-color: nth(var.$palette, 3);
  color: #FFF;
  padding: 8px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0;
  transition: background-color 250ms linear;

  &:hover {
    background-color: nth(var.$palette, 4);
    transition: background-color 250ms linear;
  }

  > a:link,
  > a:visited,
  > a:focus,
  > a:active {
    display: block;
    color: #FFF;
  }
}

a:link,
a:visited,
a:focus,
a:active {
  color: #222222;
  text-decoration: none;
}

.alert {
  background: #EEE;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgba(10, 10, 10, 0.25);
  color: #0a0a0a;


  &.info {
    background: nth(var.$palette, 8);
  }

  &.warning {
    background: #fff3d9;
  }

  &.danger {
    background: #f7e4e1;
  }
}

table.list {
  border: none;
  border-collapse: collapse;
  width: 100%;

  thead {
    height: 42px;
    background: #212529;
    color: #FFF;
    border-color: #32383e;
    text-align: center;

    th {
      text-align: center;
    }
  }

  tbody tr {
    border-top: 1px solid #CCC;
    height: 36px;

    &:nth-child(odd) {
      background-color: #E1E1E1;
    }

    &:nth-child(even) {
      background-color: #EEE;
    }
  }
}

.stacked.icons {
  position: relative;
  display: inline-block;

  > i:first-child {
  }

  > i:nth-child(2) {
    position: absolute;
    top: calc(50% - .6rem);
    right: -10px;
    font-size: .6rem;
  }
}

body {
  display: grid;
  grid-template-columns: 20rem 1fr 1fr 1fr;
  grid-gap: 0;

  header {
    grid-column: 1 / span 4;
  }

  aside {
    grid-row: 3 / span 0;
  }

  main {
    grid-column: 2 / span 3;
    padding: 1rem;

    .actions {
      padding: 1rem 0;
      margin-top: -1rem;
    }
  }

  footer {
    grid-column: span 4;
  }
}

[draggable].dragged {
  opacity: .2;
}

//-- Old browsers *kof kof* may not know it is supposed to be hidden
template {
  display: none;
}

.hidden {
  display: none !important;
}

.desktop-hidden {
  display: none !important;
}

erp-confirm-modal, erp-modal {
  display: none;

  @include modal.modal-wrapper;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
