{% extends "base.html.twig" %}

{% block content %}
    <div class="actions">
        <a class="button" href="{{ path('erp.book.create') }}">{{ 'book.action.create'|trans }}</a>
    </div>
    <table class="full table">
        <thead>
            <tr class="row head">
                <th>Title</th>
                <th>ISBN</th>
                <th>Creation Datetime</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr class="row">
                    <td>{{ book.title }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.creationDatetime|date('Y-m-d') }}</td>
                    <td><a href="{{ path('erp.book.update', {'id': book.id}) }}" class="button">{{ 'book.action.update'|trans }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}