<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Escape from Purgatory</title>
    </head>

    <body style="margin: 0; padding: 0;">
        <div>
            <form action="" method="POST">
                <label>
                    ISBN: <input name="isbn" type="text" value="{{ app.request.request.get('isbn') }}"/>
                </label>
                <label>
                    Name: <input name="name" type="text" value="{{ app.request.request.get('name') }}"/>
                </label>

                <button type="submit">Search</button>
            </form>
        </div>
    </body>
</html>