{{ form_start(form) }}
    {{ form_row(form.date) }}
    {{ form_row(form.nbPlayers) }}
    {{ form_row(form.customer) }}
    <button type="submit">{{ 'form.save'|trans }}</button>
{{ form_end(form) }}