{% extends "base.html.twig" %}

{% block content %}
    <div class="actions">
        <a class="button" href="{{ path('erp.booking.create') }}">{{ 'booking.action.create'|trans }}</a>
    </div>
    <table class="full table">
        <thead>
            <tr class="row head">
                <th>Date</th>
                <th>Escape Game</th>
                <th>Player numbers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr class="row">
                    <td>{{ booking.date|date('d/m/Y H:i:s') }}</td>
                    <td>{{ '' }}</td>
                    <td>{{ booking.nbPlayers }}</td>
                    <td><a href="{{ path('erp.booking.update', {'id': booking.id}) }}" class="button">{{ 'booking.action.update'|trans }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}