{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.minSize) }}
    {{ form_row(form.maxSize) }}
    {{ form_row(form.description) }}
    {{ form_row(form.timeSlots) }}
    
    <button type="submit">{{ 'form.save'|trans }}</button>
{{ form_end(form) }}