{% extends "base.html.twig" %}

{% block content %}
    <div class="actions">
        <a class="button" href="{{ path('erp.escape-game.create') }}">{{ 'escape-game.action.create'|trans }}</a>
    </div>
    <table class="full table">
        <thead>
            <tr class="row head">
                <th>Escape Game</th>
                <th>Player numbers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for escapeGame in escapeGames %}
                <tr class="row">
                    <td>{{ escapeGame.name }}</td>
                    <td>{{ escapeGame.minSize ~ '-' ~ escapeGame.maxSize }}</td>
                    <td><a href="{{ path('erp.escape-game.update', {'id': escapeGame.id}) }}" class="button">{{ 'escape-game.action.update'|trans }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}