<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Back Office!{% endblock %}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/static/css/theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/static/css/app.min.css') }}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    {% endblock %}
</head>
<body class="{% block bodyClass %}{% endblock %}">
{% block body %}
    {% block header %}
        <header>
            <div class="logo">
                <a href="{{ path('erp.dashboard') }}"><img src="{{ asset('/static/media/logo.png') }}" alt="Escape Game"></a>
            </div>

            <form action="" method="POST" class="search">
                <input type="text" name="q" placeholder="Search in back office">
                <button><i class="fas fa-search"></i></button>
            </form>

            <div class="right buttons">
                <a class="button logout" href=""><i class="fas fa-power-off"></i></a>
            </div>
        </header>
    {% endblock %}

    {% block aside %}
        <aside>
            <div class="wrapper">
                <nav>
                    <ul>
                        <li><a href="{{ path('erp.book.list') }}"><i class="fas fa-book"></i><span class="label">{{ 'books'|trans }}</span></a></li>
                        <li><a href="{{ path('erp.booking.list') }}"><i class="fas fa-calendar-alt"></i><span class="label">{{ 'bookings'|trans }}</span></a></li>
                        <li><a href="{{ path('erp.escape-game.list') }}"><i class="fas fa-puzzle-piece"></i><span class="label">{{ 'escapeGames'|trans }}</span></a></li>
                        <li><a href=""><i class="fas fa-cog"></i><span class="label">{{ 'settings'|trans }}</span></a></li>
                    </ul>
                </nav>
            </div>
        </aside>
    {% endblock %}

    <main>
        <div class="breadcrumb">
            {% block breadcrumb %}{% endblock %}
        </div>

        {% block content %}{% endblock %}
    </main>

    {% block footer %}{% endblock %}
{% endblock %}
{% block javascripts %}
    <script defer src="{{ asset('/static/js/lib.min.js') }}"></script>
    <script defer src="{{ asset('/static/js/util.min.js') }}"></script>
    <script defer src="{{ asset('/static/js/form.min.js') }}"></script>
{% endblock %}
</body>
</html>
