{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const global  = {
            urlList: {
                calendar: '{{ path("www.booking.date") }}'
            }
        };
    </script>
{% endblock %}

{% block header %}
    <header>
        <div class="logo">
            <img src="{{ asset('/static/media/logo.png') }}" alt="Escape Game">
        </div>

        <nav>
            <ul>
                <li><a href="#introduction">Qui sommes nous ?</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#booking" class="button">Réserver</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <main>
        <header>
            <h1>Prochainement</h1>
        </header>

        <div id="introduction">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam placerat metus vitae erat pharetra vehicula. Aliquam a lobortis dui. Integer id est viverra, tincidunt lacus eget, scelerisque eros. Praesent tempor scelerisque nisi, id posuere massa consectetur ac. Cras fermentum laoreet ultrices. Aenean pretium viverra suscipit. Suspendisse in diam nisl. Nam nec lobortis quam. Nunc tempor aliquet dui non porta. Mauris ac ultrices ligula. Donec in sollicitudin enim, in eleifend leo. Cras vitae scelerisque nulla. Sed ac sodales sapien. </p>
        </div>

        <div id="booking">
            <h2>Réserver</h2>

            <div class="booking-form-wrapper">
                <div class="calendar js-booking-form-calendar"></div>
                <div class="form">
                    {% for escapeGame in escapeGames %}
                        <div class="escape-game js-escape-game" data-id="{{escapeGame.id}}" data-title="Réserver {{ escapeGame.name }}">
                            <div class="picture {{ escapeGame.name|slug|lower }}"></div>
                            <p class="title">{{ escapeGame.name }}</p>
                            <div class="horaires">
                                {% for timeslot in timeslots %}
                                    <span data-slot="{{ timeslot }}" class="inverted button">{{ timeslot }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    {{ form_start(form) }}

                    {{ form_row(form.lastname) }}
                    {{ form_row(form.firstname) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.nbPlayersAdults) }}
                    {{ form_row(form.nbPlayersChildren) }}

                    <button type="submit" class="inverted">Réserver</button>

                    {{ form_row(form.escapeGame, {'attr': {'class': 'js-escape-game-input'}}) }}
                    {{ form_row(form.date, {'attr': {'class': 'js-date-input'}}) }}
                    {{ form_row(form.time, {'attr': {'class': 'js-time-input'}}) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

        <div id="contact">

        </div>
    </main>
{% endblock %}

{% block footer %}
    <footer>
        <div class="logo-wrapper">
            <div class="logo">
                <img src="{{ asset('/static/media/logo.png') }}" alt="Escape Game">
            </div>
        </div>

        <div class="following">
            <p>Nous suivre</p>

            <div class="hexagon-wrapper">
                <a class="hexagon facebook" href="" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="hexagon instagram" href="" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="hexagon youtube" href="" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>

        <div class="opening">
            <p>Nos horaires</p>
            <table>
                <tr>
                    <td>Lundi :</td><td>12h - 22h30</td>
                </tr>
                <tr>
                    <td>Mardi :</td><td>12h - 22h30</td>
                </tr>
                    <td>Mercredi :</td><td>12h - 22h30</td>
                </tr>
                <tr>
                    <td>Jeudi :</td><td>12h - 22h30</td>
                </tr>
                <tr>
                    <td>Vendredi :</td><td>12h - 22h30</td>
                </tr>
                <tr>
                    <td>Samedi :</td><td>12h - 22h30</td>
                </tr>
                <tr>
                    <td>Dimanche :</td><td>12h - 22h30</td>
                </tr>
            </table>
        </div>

        <div class="reaching">
            <p>Accès</p>

            <ul class="address unstyled">
                <li>
                    <i class="fas fa-map-marker-alt"></i> <span>Rue du 8 mai 1945, <br> 27500 Pont-Audemer</span>
                </li>
                <li>
                    <i class="fas fa-phone"></i> <span>01.23.45.67.89</span>
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </footer>
{% endblock %}
