@use "variables" as var;

form .row {
  margin: 8px 0;

  label {
    display: inline-block;
    min-width: 150px;
    line-height: 40px;
  }

  input {
    padding: 8px 16px;
    width: 300px;
    border: 2px solid nth(var.$palette, 3);
    background: nth(var.$palette, 8);
    line-height: 20px;
    color: nth(var.$palette, 3);
  }

  .date-wrapper {
    display: inline-block;
    width: 300px;

    select {  
      width: 100px;

      &:nth-child(1) {
        border-right: none;
      } 

      &:nth-child(3) {
        border-left: none;
      }
    }
  }

  select {  
    padding: 8px 16px;
    border: 2px solid nth(var.$palette, 3);
    background: nth(var.$palette, 8);
    line-height: 20px;
    color: nth(var.$palette, 3);
  }
}