@use "variables" as var;

/* The container must be positioned relative: */
.select {
  position: relative;
  display: inline-flex;
}

.select select {
  display: none; /*hide original SELECT element: */
}

.select-selected, .choices .choices__inner {
  position: relative;
  width: 300px;
  background-color: nth(var.$palette, 8);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 16px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid;
  border-color: nth(var.$palette, 3) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after, .select .choices[data-type*="select-one"]:after {
  border-color: transparent transparent nth(var.$palette, 3) transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected,.choices .choices__inner,.choices.is-focused .choices__inner {
  color: nth(var.$palette, 3);
  padding: 10px 16px;
  border: 2px solid nth(var.$palette, 3);
  cursor: pointer;
  height: 40px;
}
.select-items div, .choices .choices__list--dropdown.is-active {
  border: solid nth(var.$palette, 3);
  border-width: 0 1px 0 1px;

  &:last-child {
    border-bottom-width: 1px;
  }
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: nth(var.$palette, 8);
  top: 100%;
  right: 0;
  z-index: 99;
  width: 300px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.select select {
  display: none; /*hide original SELECT element: */
}

.choices + .select-selected {
  display: none;
}

.choices .choices__inner, .choices.is-focused .choices__inner, .choices .choices__list--dropdown.is-active {
  border-radius: 0;
  background-color: nth(var.$palette, 8);
}

.choices .choices__list--dropdown.is-active .choices__item.is-highlighted {
  background-color: rgba(0, 0, 0, 0.1);
}