@use "../variables" as var;

/**
  BackOffice sidebar
 */
body > aside {
  background-color: nth(var.$palette, 1);
  height: calc(100vh - 45px);

  > .wrapper {
    padding: 1rem;
    height: 100%;
    overflow: auto;
  }

  .top {
    height: 45px;
    text-align: center;

    img {
      max-height: 45px;
    }
  }

  nav {
    line-height: 50px;

    .title {
      color: #9496A1;
      text-transform: uppercase;
      border-bottom: 1px solid #4E4E52;
      padding: 15px 0 0;

      &.active {
        color: #FFF;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        color: #c8c9ce;

        > i.fas, > i.far {
          display: block;
          float: left;
          line-height: 50px;
        }

        &:hover > i {
          color: #FFF;
        }

        a:link,
        a:visited,
        a:focus,
        a:active {
          color: #c8c9ce;
          display: block;
          padding-left: 0;
          transition: color 350ms linear;
          
          &:hover {
            color: #FFF;
            transition: color 350ms linear;
          }

          & > span {
            display: inline-block;
            padding-left: 25px;
          }
        }
      }
    }
  }
}
