@use "../variables" as var;

.charts {
  max-width: 860px;
  color: #444;
  margin: 12px 0;

  > .legend {
    overflow: auto;

    .period {
      float: left;
    }

    .dates {
      float: right;
    }
  }

  .chart {
    display: flex;
    position: relative;
    height: 110px;
    border-bottom: 1px solid #9999;
    margin-top: 14px;

    > .label {
      height: 100px;
      flex: 0 0 200px;

      span {
        display: block;
      }

      span:nth-child(1) {

      }

      span:nth-child(2) {
        font-size: 1.75rem;
        line-height: 2.5rem;
      }
    }

    > div {
      flex-grow: 1;

      > label {
        font-size: .9rem;

        span {
          display: inline-block;
        }

        span:nth-child(2) {
          margin-left: 4px;
        }
      }

      > div  {
        height: 110px;
      }
    }
  }
}

.stats {
  overflow: auto;
  clear-after: both;
  display: flex;
  flex-wrap: wrap;

  .block.stat {
    background: #FFF;
    float: left;
    width: 16rem;
    height: 8rem;
    text-align: center;
    color: #EFEFEF;
    flex: 1 0 25%;

    &:nth-child(1) {
      background: nth(var.$palette, 5);
    }
    &:nth-child(2) {
      background: nth(var.$palette, 4);
    }
    &:nth-child(3) {
      background: nth(var.$palette, 2);
    }
    &:nth-child(4) {
      background: nth(var.$palette, 3);
    }
    &:nth-child(5) {
      background: nth(var.$palette, 4);
    }
    &:nth-child(6) {
      background: nth(var.$palette, 5);
    }
    &:nth-child(7) {
      background: nth(var.$palette, 3);
    }
    &:nth-child(8) {
      background: nth(var.$palette, 2);
    }

    .number {
      display: block;
      line-height: 6rem;
      font-size: 4rem;
      font-weight: 600;
    }

    .label {
      display: block;
      line-height: 2rem;
    }
  }
}

.fast-access {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;

  .button {
    display: block;
    flex: 1 0 25%;
    margin: 1rem;
    width: 16rem;
    height: 8rem;

    > span {
      text-align: center;
      display: block;
    }
  }
}