@use "../variables" as var;
body>header {
    background-color: nth(var.$palette, 1);
    display: flex;
    height: 45px;
    .logo {
        text-align: center;
        img {
            margin: 0 auto;
            display: block;
            max-height: 100%;
        }
    }
    .search {
        display: flex;
        margin-left: 1rem;
        >input,
        >button {
            height: calc(100% - 10px);
            margin: 5px 0;
        }
        input {
            width: 20rem;
        }
    }
    .right.buttons {
        margin-left: auto;
        text-align: center;
        line-height: 45px;
        >a {
            display: inline-block;
            height: 100%;
            width: 45px;
            padding: 0;
        }
    }
}