@use "../variables" as var;

/**
  Login
*/
.login.page {
  display: block;
  height: calc(100vh - 40px);
  margin: 20px auto;
  width: 460px;
  background-color: nth(var.$palette, 1);
  color: #FFF;

  .logo {
    text-align: center;
    margin: 0 auto 20px;
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #EEE;
    background: rgba(248, 248, 248, .3);
    box-shadow: 0 0 5px #333;

    img {
      max-height: 100%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .login-form {
    max-width: 460px;
    margin: 0 auto;


    > div {
      padding: 8px 0;
    }

    label {
      display: block;
      margin: 16px 0;
      background-color: transparentize(nth(var.$palette, 8), .2);

      &:hover {
        background-color: nth(var.$palette, 7);
      }

      span, span:after, input {
        display: inline-block;
        vertical-align: top;
      }

      span.input {
        display: block;
        margin-left: 40px;

        input {
          width: calc(100% - 32px);
          display: block;
          padding: 12px 16px;
          background-color: transparent;
          border: none;
        }
      }

      span.icon {
        float: left;
        position: relative;
        width: 40px;
        height: 40px;

        &:after {
          content: "";
          position: absolute;
          right: 0;
          width: 1px;
          height: 32px;
          margin: 4px 0 4px 10px;
          background: nth(var.$palette, 4)
        }

        i {
          color: nth(var.$palette, 1);
          line-height: 40px;
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }
    }

    button {
      width: 100%;
      text-transform: uppercase;
      font-weight: 600;
      padding: 11px 0;
      cursor: pointer;
    }
  }
}