@mixin modal-wrapper {
  &.open {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .6);
  }
}

@mixin modal-body {
  modal-body, [is="modal-body"] {
    position: absolute;
    left: 50%;
    top: 50vh;
    transform: translateY(-50%) translateX(-50%);
    min-width: 350px;
    max-width: calc(100% - 100px);
    min-height: 150px;
    background: #FFF;
    box-shadow: 0 0 20px #888;
    padding: 8px 12px;

    .close {
      float: right;
      height: 32px;
      width: 32px;
      background: #a92222;
      border-width: 0;
      margin: -8px -12px;

      &:hover {
        background: #7e2020;
      }
    }

    .title {
      margin-right: 32px;
      font-size: 1.5rem;
    }

    .actions {
      position: absolute;
      text-align: center;
      bottom: 12px;
      width: calc(100% - 24px);

      .action {
        height: 2rem;
        font-size: 1.25rem;
        line-height: 0;
        margin: 0 8px;
      }
    }
  }
}

@include modal-body;
