.productUpdate main, .productCreate main {
  section {
    padding-left: 10px;
    margin-left: 200px;

    .panel {
      display: none;
      background: #FFF;
      padding: 10px;
      box-shadow: 0 1px 1px rgba(0,0,0,.15);

      &.active {
        display: block;
      }
    }

    > form > button {
      margin-top: 10px;
    }

    .title {
      font-size: 1.75rem;
      padding: 8px 0;
      text-transform: capitalize;
    }
  }

  aside {
    width: 200px;
    background: nth($palette, 1);
    position: sticky;
    float: left;
    top: 70px;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);

    nav {
      padding: 10px;
      color: #c8c9ce;

      .title {
        color: #9496a1;
        text-transform: uppercase;
        padding: 15px 0 0;
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          border-top: 1px solid #4e4e52;

          a {
            display: block;
            line-height: 2rem;
            color: #c8c9ce;
          }
        }
      }
    }
  }

  .table.images {
    .head {
      .handle {
        width: 70px;
      }

      .media {
        width: 180px;
      }
    }

    .row {
      height: 120px;
    }

    .cell {
      vertical-align: middle;

      &.handle i {
        display: block;
        font-size: 2rem;
        padding: 12px;
        width: 70px;
        cursor: pointer;
        text-align: center;
      }

      &.media {
        font-size: 0;

        img {
          max-height: 120px;
          max-width: 180px;
        }
      }

      &.name {
        padding: 0 12px;
      }
    }
  }
}