@use "../variables" as var;

.table {
    display: table;
    border: none;
    border-collapse: collapse;
    table-layout: fixed;
  
    &.full {
      width: 100%;
      overflow-x: auto;
    }
  
    .row {
      display: table-row;
  
      &:not(.head) {
        border-top: 1px solid #CCC;
      }
  
      &.head {
        height: 42px;
        background: #212529;
        color: #FFF;
        border-color: #32383e;
        text-align: center;
  
        &.hidden {
          display: table-row !important;
          height: 0 !important;
        }
  
        .cell, td {
          vertical-align: middle;
        }
      }
  
      .cell, td {
        display: table-cell;
        padding: 4px 8px;
        line-height: 32px;
      }
    }
  }